body {
  text-align: center;
  background: radial-gradient(circle, #fff6e5, #ffd6a5);
  font-family: 'Segoe UI', sans-serif;
  padding-top: 50px;
}

h1 {
  font-size: 3rem;
  color: #6b3e26;
}

#counter {
  font-size: 2rem;
  margin: 20px 0;
  color: #333;
}

#cookie-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease;
}

#cookie-btn img {
  width: 200px;
  height: 200px;
}

#cookie-btn:active {
  transform: scale(0.95);
}
footer {
  margin-top: 50px;
  padding: 20px;
}

.tiktok-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  background-color: #f5f3f3;
  color: #000000;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.tiktok-button:hover {
  background-color: #521881;
}

.tiktok-button img {
  height: 24px;
  width: 24px;
}

h2 {
    font-size: 1rem;
    color:#000000
}